/** TAG SELECTORS **/
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

h1 {
    color: #EEEEEE;
    font-size: 4rem; /* 16px = 100% = 1em */
    font-family: 'Cambay', sans-serif;
    margin: 50px auto 0 auto;
}

h2 {
    color: black;
    font-family: 'Mandali', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: black;
    font-family: 'Mandali', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #40514e 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

a {
    color:#124059;
    font-family: 'Mandali', sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** CLASS SELECTORS **/
.top-container {
    background-color: #1C658C;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #D8D2CB;
    padding: 100px 0;
}

.bottom-container {
    background-color: #1C658C;
    padding: 50px 0 20px; 
}

.intro {
    width: 30%;
    margin: auto auto 60px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.profile-img {
    border: solid black;
    border-radius: 50%;
}

.skill-row, .projects-row, .hobbies-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.computer-img {
    float: left;
    margin-right: 30px;
}

.school-img {
    float: right;
    margin-left: 30px;
}

.running-img {
    float: left;
    margin-right: 30px;
}

.music-notes-img {
    float: right;
    margin-left: 30px;
}

.basketball-img {
    float: left;
    margin-right: 30px;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
}

.btn {
    background: #398AB9;
    background-image: -webkit-linear-gradient(top, #398AB9, #1b577a);
    background-image: -moz-linear-gradient(top, #398AB9, #1b577a);
    background-image: -ms-linear-gradient(top, #398AB9, #1b577a);
    background-image: -o-linear-gradient(top, #398AB9, #1b577a);
    background-image: linear-gradient(to bottom, #398AB9, #1b577a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #439dd1;
    background-image: -webkit-linear-gradient(top, #439dd1, #449fd4);
    background-image: -moz-linear-gradient(top, #439dd1, #449fd4);
    background-image: -ms-linear-gradient(top, #439dd1, #449fd4);
    background-image: -o-linear-gradient(top, #439dd1, #449fd4);
    background-image: linear-gradient(to bottom, #439dd1, #449fd4);
    text-decoration: none;
}

.footer-link {
    color:#EEEEEE;
    font-family: 'Mandali', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    color: #EEEEEE;
    font-size: 0.75rem;
    padding: 20px 0;
}